name: Android CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Change wrapper permissions
      run: chmod +x gradlew

    - name: Create google-services.json from secret
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
      run: echo "$GOOGLE_SERVICES_JSON" > app/google-services.json
      
    - name: Build with Gradle
      run: sh gradlew build --stacktrace
      
    - name: Build Debug APK
      run: sh gradlew assembleDebug --stacktrace
